<script id="lectureTable" type="text/x-handlebars-template">
<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
<ul class="nav nav-tabs" id="myTabs" role="tablist">
  <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Learning Materials</a></li>
  <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Experiments</a></li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade active in" role="tabpanel" id="home" aria-labelledby="home-tab">

        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <table class="table">
            <thead> <tr> <th>Material #</th> <th>Matrial Name</th> <th>Links</th> </tr> </thead>
            <tbody>
              <tr> <th scope="row">1</th> <td>Power Electronics</td> <td> <a href="PowerElectronics/index.html"> Start </a> </td> </tr>
              <tr> <th scope="row">2</th> <td>Solar Power</td> <td> <a href="SoloarPower/index.html">Start</a> </td> </tr>
              <tr> <th scope="row">3</th> <td>Wind Power</td> <td> <a href="WindPower/index.html">Start</a> </td> </tr>
              <tr> <th scope="row">4</th> <td>DC DC Converters</td> <td> <a href="DCDCConverters/index.html">Start</a> </td> </tr>
            </tbody>
          </table>
        </div>

  </div>
  <div class="tab-pane fade" role="tabpanel" id="profile" aria-labelledby="profile-tab">
    <div class="panel panel-default">
      <div class="panel-heading"></div>
      <table class="table">
        <thead> <tr> <th>#</th> <th>Experiment Name</th> <th>Link</th> </tr> </thead>
        <tbody>
          <tr> <th scope="row">1</th> <td>Buck Converter</td> <td> <a href="http://10.158.160.48:8080/WebService/home.html"> Start </a> </td> </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</script>
